body {
  background-color: lightblue;
}
body p {
  font-weight: bold !important;
  font-size: 24px !important;
  color: red !important;
}
footer p {
  color: black !important;   /* čierna farba textu */
  font-weight: normal !important;  /* normálna váha písma */
  font-size: 16px !important; /* menšia veľkosť písma */
}
